# `nitpick` specific configuration.
# `nitpick` ensures that you have the same configuration
# in your own project.

# Make sure to install it with:
# `pip install nitpick`

# See:
# https://wemake-python-stylegui.de/en/latest/pages/usage/integrations/nitpick

# This file is included into base-preset.

["pyproject.toml".tool.isort]
# These values should be placed inside `setup.cfg` in your repo:
add_imports = [
  "from __future__ import absolute_import",
  "from __future__ import division",
  "from __future__ import print_function",
]
atomic = true
filter_files = true
float_to_top = true
include_trailing_comma = true
known_first_party = "src"
lines_after_imports = 2
lines_between_types = 1
profile = "black"
use_parentheses = true
# Enforce import section headers.
force_single_line = true
force_sort_within_sections = true
import_heading_firstparty = "Import local modules"
import_heading_future = "Import future modules"
import_heading_stdlib = "Import built-in modules"
import_heading_thirdparty = "Import third-party modules"
# All project unrelated unknown imports belong to third-party.
default_section = "THIRDPARTY"
